.container{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

.title-container{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
